.container {
  background: plum;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  height: 1.5rem;
  border: none;
  color: #fff;
  font-size: 1rem;
  line-height: 1.5rem;
  padding-left: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p {
  margin: 0;
  padding: 0;
}
