.menu__item {
  font-size: 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.3rem;
}

.menu__item:hover {
  background-color: blue;
}

.menu__item_divider {
  border-top: 2px solid #deebf3;
}
