.clock {
  width: 6.5rem;
  height: 72%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: absolute;
  right: 0px;
  background: rgb(195, 198, 205);
  border-top: 2px solid rgb(133, 136, 143);
  border-left: 2px solid rgb(133, 136, 143);
  border-right: 2px solid rgb(222, 235, 243);
  border-bottom: 2px solid rgb(222, 235, 243);
  margin: 0.25rem;
}
