@font-face {
  font-family: nineties;
  src: url(./assets/ms_sans_serif_bold.woff2);
}
@font-face {
  font-family: "ms_sans_serif";
  src: url(./assets/ms_sans_serif.woff2);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "ms_sans_serif";
  src: url(./assets/ms_sans_serif_bold.woff2);
  font-weight: bold;
  font-style: normal;
}
body,
input,
select,
textarea {
  font-family: "ms_sans_serif";
}
